<style>
.form-contol{
	width: auto;
}
</style>
<br/><br/>
<div class="container">
<div class="well">
<%= form_tag user_edit_problem_path(:id => @problem.id), :method => :get, :class => "form-horizontal" do %>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-6">
      <input  name="title" class="form-control" id="inputEmail3" placeholder="Title" value="<%= @problem.name%>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Problem Statement</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="statement" rows="15" placeholder="Describe Your Problem Here"><%= @problem.statement%></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </div>
<%end%>
</div>
</div>