<p>
<h2>ABOUT</h2>
Originally, this document was prepared during the summers of 2014 to help the freshers of Indian Institute of Technology, Kanpur. So, we thought it might be useful to others as well.

<h2>The community</h2>
Codohub is not just a contest platform - it's a community for aspiring programmers.
We host events online and in person
We support anyone who wants to start their own Codohub Campus Chapter or host a Codohub Meetup
Our Forums, Blog, Facebook Group and Twitter stream help everyone stay updated and connected.
Over 25,000 people worldwide have joined Codohub so far, and we're always looking for more.
<h2>The Freelancers</h2>
Codohub relies on its dedicated community to help us run the site. Our expert team of freelancers bakes up new problems and moderates our forums. If you're interested in helping out, visit our Problem Setting page or contact us to become moderators.
<h2>Contact</h2>
If you have any suggestions on how we can make Codohub better, or if you have any questions, please don't hesitate to get in touch. Just use feedback@codohub.com.</p>